body{
    margin: 0;
    padding: 0;
    background-image: url("../images/wallpaperf.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.item h1{
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.item p{
    font-size: 30px;
}